@model WebTodoTicket.Models.Evento

@{
    Layout = null;
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Raleway", Arial, Helvetica, sans-serif;
    }
</style>
<body class="w3-red">
    <img class="w3-image" src="~/Recursos/2017-HD-Calendar-Wallpaper.jpg" alt="The Hotel" style="width: 1400px; height: 700px">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="w3-card-4 w3-center" style="width:50%; margin-left: 25%">
            <header class="w3-container w3-blue">
                <h1>Evento</h1>
            </header>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" style="width: 40%">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="margin-left: 40px">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "w3-input w3-border" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="width: 40%">
                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="margin-left: 40px">
                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "w3-input w3-border" } })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="width: 40%">
                @Html.LabelFor(model => model.Portada, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="margin-left: 40px">
                    @Html.EditorFor(model => model.Portada, new { htmlAttributes = new { @class = "w3-input w3-border" } })
                    @Html.ValidationMessageFor(model => model.Portada, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="width: 40%">
                @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="margin-left: 40px">
                    @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "w3-input w3-border" } })
                    @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="width: 40%">
                @Html.LabelFor(model => model.Lugar, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="margin-left: 40px">
                    @Html.EditorFor(model => model.Lugar, new { htmlAttributes = new { @class = "w3-input w3-border" } })
                    @Html.ValidationMessageFor(model => model.Lugar, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="width: 40%">
                @Html.LabelFor(model => model.TipoEventoId, "TipoEventoId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="margin-left: 40px">
                    @Html.DropDownList("TipoEventoId", null, htmlAttributes: new { @class = "w3-input w3-border" })
                    @Html.ValidationMessageFor(model => model.TipoEventoId, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="w3-button w3-blue" />
                </div>
            </div>
            <br />
        </div>
    }
</body>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
