@model IEnumerable<WebTodoTicket.Models.Evento>

@{
    ViewBag.Title = "EventoTipo";
}

<head>
    <title>Inicio: @Session["nombreUsuario"]</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body, h1, h2, h3, h4, h5 {
            font-family: "Poppins", sans-serif;
        }

        body {
            font-size: 16px;
        }
    </style>
</head>
<body>
    <div style="margin-top: -40%">
        <div class="w3-container" style="margin-top:80px" id="showcase">
            <h1 class="w3-jumbo"><b>Tipos de Eventos</b></h1>
            <hr style="width:50px;border:5px solid red" class="w3-round">
        </div>

        <!-- Photo grid (modal) -->
        <div class="w3-row-padding" style="background-color: black">
            <table class="w3-table">
                <tr style="color: white;">
                    <th>
                        @Html.DisplayNameFor(model => model.TipoEvento.Descripcion)
                    </th>
                    <th class="hidden">
                        @Html.DisplayNameFor(model => model.Usuario.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </th>
                    <th class="hidden">
                        @Html.DisplayNameFor(model => model.Portada)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Lugar)
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoEvento.Descripcion)
                        </td>
                        <td class="hidden">
                            @Html.DisplayFor(modelItem => item.Usuario.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td class="hidden">
                            @Html.DisplayFor(modelItem => item.Portada)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Lugar)
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</body>